# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# TF Variables
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
