# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# TF Variables
Terraform/terraform.tfvars
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/.terraform
