# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# TF Variables
AWS-VPC-Miner/Terraform/terraform.tfvars
AWS-VPC-Miner/Terraform/terraform.tfstate
AWS-VPC-Miner/Terraform/terraform.tfstate.backup
AWS-VPC-Miner/Terraform/.terraform
